<table>
  <th>ID</th>
  <th>Name</th>
  <th>Actions</th>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.id %></td>
        <td>
          <%= link_to "#{volunteer.first_name} #{volunteer.last_name}", volunteer %>
        </td>
        <td><%= link_to "Edit", edit_volunteer_path(volunteer.id) %></td>
      </tr>

  <% end %>
</table>
