<table>
  <th>Name</th>
  <th>Number of matches</th>
  <th>Actions</th>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td>
          <%= link_to volunteer.name, volunteer %>
        </td>
        <td>
          <%= volunteer.matches.size %>
        </td>
        <td><%= link_to "Edit", edit_volunteer_path(volunteer.id) %></td>
      </tr>

  <% end %>
</table>
