<%= link_to 'Delete this volunteer', volunteer_path(@volunteer), class: [:button, 'float_right'], method: :delete, data: { confirm: 'Are you sure?' } %>
<h1>Edit volunteer: <%= @volunteer.name %></h1>
<%= render "form" %>
