<h1>Volunteer</h1>

<%= link_to 'Back to all volunteers', volunteers_path %>
<%= link_to 'Edit', edit_volunteer_path(@volunteer) %>
<h3>First name</h3>
<%= @volunteer.first_name  %>
<h3>Last name</h3>
<%= @volunteer.last_name  %>

