$badge-font-size: 0.75em !default;
$badge-medium-gray: #999 !default;
$badge-alert-color: #fff6bf !default;
$badge-error-color: #fbe3e4 !default;
$badge-notice-color: #e5edf8 !default;
$badge-success-color: #e6efc2 !default;

@mixin badge($color: $badge-medium-gray) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge {
  @include badge;
}

.badge-alert {
  @include badge($badge-alert-color);
}

.badge-error {
  @include badge($badge-error-color);
}

.badge-notice {
  @include badge($badge-notice-color);
}

.badge-success {
  @include badge($badge-success-color);
}
