<table id="match_explorer_volunteers">
  <colgroup>
    <col width="15%">
    <col>
  </colgroup>
  <th class="cell_center">Send proposal</th>
  <th>Volunteer</th>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td class="cell_center">
          <%= check_box_tag("select_for_email_#{volunteer.id}", 1, false, :class => 'matchExplorer_checkbox') %>
        </td>
        <td>
          <%= volunteer.name %>
          <%= link_to fa_icon('external-link'), volunteer, target: '_blank' %>
        </td>
      </tr>

  <% end %>
</table>
