<%= link_to 'Delete this client', client_path(@client), class: [:button, 'float_right'], method: :delete, data: { confirm: 'Are you sure?' } %>
<h1>Edit client: <%= @client.name %></h1>
<%= render "form" %>