<%= form_for @specialty do |f| %>
    <div class="width100">
      <%= label_tag(:name, "Name") %>
      <%= f.text_field :name, class: 'form_field' %>
    </div>
    <%= f.submit "Submit" %>
<% end %>