<table>
  <tr>
    <th>Day and time</th>
    <th>Client</th>
    <th>Volunteer</th>
  </tr>
  <% @matches.each do |match| %>
      <tr>
        <td>
          <%= link_to match.day_and_time, [@client, @volunteer, match] %>
        </td>
        <td><%= match.client.name %></td>
        <td><%= match.volunteer.name %></td>
      </tr>
  <% end %>
</table>