<table>
  <tr>
  <th>Day and time</th>
  <th>Client</th>
  <th>Volunteer</th>
    </tr>
  <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.day_and_time, match %></td>
        <td><%= match.client_name %></td>
        <td><%= match.volunteer_name %></td>
      </tr>
  <% end %>
</table>