<table>
  <th>Select for email request</th>
  <th>Select for match</th>
  <th>Name</th>
  <th>Actions</th>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td>
          <%= f.check_box("select_for_email_#{volunteer.id}") %>

        </td>
        <td><a class="select_for_match" href="#" data-volunteer-id="<%= volunteer.id %>">Select</a></td>
        <td>
          <%= link_to "#{volunteer.first_name} #{volunteer.last_name}", volunteer %>
        </td>
        <td><%= link_to "Edit", edit_volunteer_path(volunteer.id) %></td>
      </tr>

  <% end %>
</table>
