<h1>Matches Angular</h1>
<div ng-app="hospiceAtHome" ng-controller="MainCtrl">

  <table>
    <tr>
      <th>Day and time</th>
      <th>Client</th>
      <th>Volunteer</th>
    </tr>
    <tr ng-repeat="match in matches">
      <td>
        {{ {day: match.day, start_time: match.start_time, end_time: match.end_time } | full_date | capitalize }}
      </td>
      <td>
        {{match.client.first_name}} {{match.client.last_name}}
      </td>
      <td>
        {{match.volunteer.first_name}} {{match.volunteer.last_name}}
      </td>
    </tr>
  </table>
</div>