<h1>Matches Angular</h1>
<div ng-app="hospiceAtHome" ng-controller="MainCtrl">

  <table>
    <tr>
      <th>Day and time</th>
      <th>Client (<a ng-click="setOrder('client')">sort</a>)</th>
      <th>Volunteer (<a ng-click="setOrder('volunteer')">sort</a>)</th>
    </tr>
    <tr ng-repeat="match in matches | orderBy: orderProp">
      <td>
        <a href="/matches/{{match.id}}" class="thumb">{{ {day: match.day, start_time: match.start_time, end_time: match.end_time } | full_date | capitalize }}</a>
      </td>
      <td>
        {{match.client.first_name}} {{match.client.last_name}}
      </td>
      <td>
        {{match.volunteer.first_name}} {{match.volunteer.last_name}}
      </td>
    </tr>
  </table>
</div>