<h1>Matches Explorer</h1>


<%= form_tag do %>
<div class="width33">
    <%= label_tag(:day, "Day") %>
    <%= select_tag(:day, options_for_select(@day_options), class: 'form_field') %>
</div>
<div class="width33">
    <%= label_tag(:start_time, "Start time") %>
    <%= text_field_tag(:start_time, nil, class: 'form_field', type: 'number', min: 0, max: 23) %>
</div>
<div class="width33">
    <%= label_tag(:end_time, "End time") %>
    <%= text_field_tag(:end_time, nil, class: 'form_field', type: 'number', min: 1, max: 24) %>
</div>

<%= submit_tag "Explore Matches" %>
<% end %>


<%= render "volunteers/table" %>