<h1>Match Explorer</h1>
<%= render "matches/explorer/match_exploration_form" %>
<% if @match_exploration && !@match_exploration.values_nil? %>
    <% if @match_exploration.valid? %>
        <hr>
        <%= render "matches/explorer/match_exploration_results" %>
    <% else %>
        <div class="MatchExplorer_flash">
          <%= render :partial => "/layouts/flash", :locals => {:flash => {error: @match_exploration.errors.full_messages.to_sentence}} %>
        </div>
    <% end %>
<% end %>


