<h1>Matchs</h1>
<%= link_to 'Add a match', new_match_path %>
<table>
  <th>ID</th>
  <th>Client</th>
  <th>Volunteer</th>
  <% @matches.each do |match| %>
      <tr>
        <td><%= match.id %></td>
        <td><%= match.client_name %></td>
        <td><%= match.volunteer_name %></td>
      </tr>

  <% end %>
</table>

