<%= link_to 'Delete this specialty', volunteer_specialty_path(@volunteer_specialty), class: [:button, 'float_right'], method: :delete, data: { confirm: 'Are you sure?' } %>
<h1>Edit specialty: <%= @volunteer_specialty.name %></h1>
<%= render "form" %>