body {
  margin: 0px;
}
div.container {
  @include outer-container;
  padding-top: 1em;
  padding: 1em;
}
.width25 {
  @include span-columns(3);
  @include omega();
}
.width33 {
  @include span-columns(4);
  @include omega();
}
.width50 {
  @include span-columns(6);
  @include omega();
}
.padding1 {
  padding: 1em;
}

.form_field, input[type="text"].form_field, select.form_field, input[type="number"].form_field {
  margin-right: 1em;
  width: 90%;
}

.MatchExplorer_flash {
  margin-top: 1em;
}

.matchExplorer_checkbox {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.matchExplorer_form {
  @include outer-container;
}

.cell_center {
  text-align: center;
}

.margin_right {
  margin-right: 0.5em;
}

.float_right {
  float: right;
}

.logo {
  font-size: 2em;
}

a[ng-click]{
  cursor: pointer;
}

.request_accepted {
  background-color: tint(green, 80%);
}

.request_rejected {
  background-color: tint(red, 80%);
}

td {
  padding: 0.75em 0.75em;
}

h2, h3 {
  margin-top: 1em;
}

h2 {
  background-color: tint($c_primary, 80%);
  padding: 0.5em;
  color: tint($c_primary, 10%);
}

.meta_table th, td {
  border-bottom-width: 0px;
  padding: 0.5rem;
}

.meta_table {
  background-color: tint($light-gray, 65%);
  border: 1px solid $light-gray;
  padding: 1em;
}

form.horizontal_form {
  display: table;
  clear: both;
  margin: 1em;
  width: 100%;
}

form.horizontal_form div {
  display: table-cell;
  padding: 0.5em;
}

form.horizontal_form div.stretch {
  width: 90%
}

form.horizontal_form div.stretch_short {
  width: 60%
}

form.horizontal_form div.stretch input, form.horizontal_form div.stretch select {
  width: 100%
}

form.horizontal_form div.input input, form.horizontal_form div.input select {
  margin-bottom: 0em;
  margin-top: 0em;
  vertical-align: center;
  margin-right: 0px;
}

form.horizontal_form div.label {
  white-space: nowrap;
}

form.horizontal_form div.button {
  text-align: right;
}

.red, a.red {
  color: red;
}

.remove_specialty {
  margin-left: 0.5em;
}

.specialty {
  font-size: 1em;
}
