body {
  margin: 0px;
}
div.container {
  @include outer-container;
  padding-top: 1em;
  padding: 1em;
}
.width25 {
  @include span-columns(3);
  @include omega();
}
.width33 {
  @include span-columns(4);
  @include omega();
}
.width50 {
  @include span-columns(6);
  @include omega();
}
.padding1 {
  padding: 1em;
}

.form_field, input[type="text"].form_field, select.form_field, input[type="number"].form_field {
  margin-right: 1em;
  width: 90%;
}

.MatchExplorer_flash {
  margin-top: 1em;
}

.matchExplorer_checkbox {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.matchExplorer_form {
  @include outer-container;
}

.cell_center {
  text-align: center;
}

.margin_right {
  margin-right: 0.5em;
}

.float_right {
  float: right;
}

.logo {
  font-size: 2em;
}

.request_accepted {
  background-color: tint(green, 80%);
}

.request_rejected {
  background-color: tint(red, 80%);
}

td {
  padding: 0.75em 0.75em;
}